node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db

.dev.vars*
!.dev.vars.example

# vscode
.vscode

# Local R2 copy. Move all files from /static/olympiads to /files/olympiads once R2 setup is complete, then update $lib/pregen/utils.ts to indicate new STATIC_DIR.
files