<script lang="ts">
	import YearList from "$lib/YearList.svelte";
</script>

Most of the files here are from <a href="https://stefanivanov.site/teaching" target="_blank">Stefan Ivanov's</a> drive.

<YearList contestId="usapho"/>