<script lang="ts">
	import YearList from "$lib/YearList.svelte";
</script>

Most of the files here are from [Stefan Ivanov's](https://stefanivanov.site/teaching/) archive. Take note of the [errata list](https://stefanivanov.site/teaching/errata.pdf).

<YearList contestId="apho"/>